<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

	<!-- START: Allow necessary HTTP Verbs -->
	<!-- All that this web.config does is fix HTTP verbs so PUT and DELETE are allowed
	     This web.config takes care of this. No IIS config needed! 
		 Reference: https://stackoverflow.com/a/44473484
		 Must also right click on this web.config in VS2022 > Properties, then set
		 "Copy to Output Directory" = "Copy Always" for it to work!
	-->
	<system.webServer>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="false">
					<add verb="GET" allowed="true" />
					<add verb="POST" allowed="true" />
					<add verb="DELETE" allowed="true" />
					<add verb="PUT" allowed="true" />
					<add verb="PATCH" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
		</handlers>
	</system.webServer>
		<!-- END: Allow necessary HTTP Verbs -->

</configuration>